* {
    color: papayawhip;
}

body {
    padding: 0;
    margin: 0;
}

.intro-section {
    height: 100vh;
    background-image: url("/static/images/ParrallelTrees.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40vh;
    color: papayawhip;
    font-family: 'Playfair Display', serif;
    text-align: center;
    opacity: 1;
}

.intro-section h1 {
    font-size: 110px;
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

.intro-section h5 {
    font-size: 20px;
    margin: 10px 0;
}

.section {
    min-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: initial;
    padding: 20px 0;
}

.container {
    text-align: center;
}

.container h2 {
    color: black;
}
.event-text p, .event-text h2 {
    color: black;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-image {
    margin-right: 20px;
}

.about-image img {
    width: 400px;
    height: 400px;
}

.about-text {
    max-width: 500px;
    margin: 20px auto;
}

.about-text p {
    color: black;
}
.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding-top: 40px;
    padding-bottom: 10px;
    z-index: 9999;
}

.navbar a {
    color: papayawhip !important;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}
