* {
  color: papayawhip;
}

.navbar {
  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 10px;
}

.navbar a {
  color: papayawhip !important;
  font-size: 15px;
  font-weight: bold;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}
